@model IEnumerable<LjubavNaPmfu.Baza.Korisnik>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Lista";
}

<h1>Korisnici</h1>
<div>
    <p>
        Po kategorijama:

        <a asp-action="Filter" asp-route-kategorija="Crtanje">Crtanje</a>
        <a asp-action="Filter" asp-route-kategorija="Glazba">Glazba</a>
        <a asp-action="Filter" asp-route-kategorija="Igrice">Igrice</a>
        <a asp-action="Filter" asp-route-kategorija="Kava">Kava</a>
        <a asp-action="Filter" asp-route-kategorija="Pijevanje">Pijevanje</a>
        <a asp-action="Filter" asp-route-kategorija="Plesanje">Plesanje</a>
        <a asp-action="Filter" asp-route-kategorija="Putovanje">Putovanje</a>
        <a asp-action="Filter" asp-route-kategorija="Serije">Serije</a>
        <a asp-action="Filter" asp-route-kategorija="Sport">Sport</a>
        <a asp-action="Filter" asp-route-kategorija="Životinje">Životinje</a>
    </p>
    <p>
        Po studijskim grupama:
        <a asp-action="Grupa" asp-route-studij="Biologija">Biologija</a>
        <a asp-action="Grupa" asp-route-studij="Fizika">Fizika</a>
        <a asp-action="Grupa" asp-route-studij="Informatika">Informatika</a>
        <a asp-action="Grupa" asp-route-studij="Kemija">Kemija</a>
        <a asp-action="Grupa" asp-route-studij="Matematika">Matematika</a>
    </p>

</div>
<hr />
<div class="row container">

    @foreach (var item in Model)
    {
        <div class="col-lg-6" style="margin:60px 0px; padding:10px 200px;">
            <p>
                Ime: @Html.DisplayFor(modelItem => item.Ime)
            </p>
            <p>
                Dob: @Html.DisplayFor(modelItem => item.Dob)
            </p>
            <p>
                O meni: @Html.DisplayFor(modelItem => item.Omeni)
            </p>
            <p>
                Mobitel: @Html.DisplayFor(modelItem => item.Mobitel)
            </p>
            <p>
                Studij: @Html.DisplayFor(modelItem => item.IdsNavigation.Naziv)
            </p>
            <p>
                <a asp-action="Match" asp-route-id="@item.Id">Match</a>


                <a asp-action="Odbij" asp-route-id="@item.Id">Odbij</a>


                <a asp-action="Profil" asp-route-id="@item.Id">Profil</a>
            </p>

        </div>
    }

</div>

