@model IEnumerable<LjubavNaPmfu.Baza.Korisnik>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Lista";
}

<h1>Korisnici</h1>
<div>
    <p>
        Po kategorijama:
        <a asp-action="Filter" asp-route-kategorija="Sport" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Sport</a>
        <a asp-action="Filter" asp-route-kategorija="Kava" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Kava</a>
        <a asp-action="Filter" asp-route-kategorija="Glazba" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Glazba</a>
        <a asp-action="Filter" asp-route-kategorija="Životinje" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Životinje</a>
        <a asp-action="Filter" asp-route-kategorija="Crtanje" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Crtanje</a>
        <a asp-action="Filter" asp-route-kategorija="Plesanje" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Plesanje</a>
        <a asp-action="Filter" asp-route-kategorija="Serije" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Serije</a>
        <a asp-action="Filter" asp-route-kategorija="Pijevanje" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Pijevanje</a>
        <a asp-action="Filter" asp-route-kategorija="Igrice" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Igrice</a>
        <a asp-action="Filter" asp-route-kategorija="Putovanje" asp-route-idk="@HttpContextAccessor.HttpContext.Session.GetString("Id")">Putovanje</a>
    </p>

</div>
<hr />
<div class="row container">

    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <p>
                Ime: @Html.DisplayFor(modelItem => item.Ime)
            </p>
            <p>
                Dob: @Html.DisplayFor(modelItem => item.Dob)
            </p>
            <p>
                O meni: @Html.DisplayFor(modelItem => item.Omeni)
            </p>
            <p>
                Mobitel: @Html.DisplayFor(modelItem => item.Mobitel)
            </p>
            <p>
                Studij: @Html.DisplayFor(modelItem => item.IdsNavigation.Naziv)
            </p>
            <p>
                <a asp-action="Match" asp-route-id="@item.Id">Match</a>


                <a asp-action="Odbij" asp-route-id="@item.Id">Odbij</a>


                <a asp-action="Profil" asp-route-id="@item.Id">Profil</a>
            </p>

        </div>
    }

</div>

