@model IEnumerable<LjubavNaPmfu.Baza.KorisnikHobiji>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Profil";
}
<a asp-action="Lista">Natrag na popis</a>
<hr />
<div style="margin:20px 60px">
    <div style="padding:60px 20px;float:left;margin:0px 50px;">
        @if (ViewBag.Spol == "z")
        {
            <img src="/female.png" width="200" />
        }
        else
        {
            <img src="/male.png" width="200" />
        }
    </div>
    <div style="float:left;">
        <h3>Ime: @ViewBag.Ime</h3>
        <h3>Dob: @ViewBag.Dob</h3>
        <h3>O meni: @ViewBag.Omeni</h3>
        <h3>Studij: @ViewBag.Studij</h3>
        <h3>Moje kategorije:</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>@Html.DisplayFor(modelItem => item.IdhNavigation.Naziv)</li>
            }
        </ul>
    </div>

</div>
<style type="text/css">
    a {
        text-decoration: none;
        color: #cd171f;
        padding: 0px 5px;
    }

        a:hover {
            color: #000;
            text-decoration: none;
        }
</style>

