@model IEnumerable<LjubavNaPmfu.Baza.KorisnikHobiji>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Profil";
}
<a asp-action="Lista">Natrag na popis</a>
<h1>Moj Profil</h1>
<hr />
<h1>Ime: @ViewBag.Ime</h1>
<h2>Dob: @ViewBag.Dob</h2>
<h2>O meni: @ViewBag.Omeni</h2>
<h2>Studij: @ViewBag.Studij</h2>
<h3>Moje kategorije:</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@Html.DisplayFor(modelItem => item.IdhNavigation.Naziv)</li>
    }
</ul>
